.footer {
  background-color: $color-black;

  &__wrapper {
    padding: 1.5rem 0;
    border-bottom: 1px solid #353535;

    &:last-child {
      border-bottom: none;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__logo {
    @include respond(tab-port) {
      margin-bottom: 3rem;
    }
    img {
      display: block;
      width: 19.4rem;
      height: 6.5rem;
    }
  }

  &__info {
    padding: 0 5rem;
    text-align: center;
    color: $color-white;

    @include respond(tab-port) {
      padding: 0;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  &__info-list {
    @include respond(tab-port) {
      margin-bottom: 3rem;
    }
    p {
      display: inline-block;
      font-size: 1.6rem;
    }
  }

  &__qr-list {
    display: flex;
  }

  &__qr {
    img {
      display: block;
      width: 11rem;
      height: 11rem;
    }

    p {
      font-size: 1.4rem;
      color: $color-white;
      text-align: center;
      margin-top: 2rem;
    }

    &:first-child {
      margin-right: 5rem;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;

    @include respond(tab-port) {
      justify-content: space-between;
    }

    a {
      font-size: 1.2rem;
      color: $color-white;
      margin: 0 4rem;
      position: relative;

      @include respond(tab-port) {
        margin: 0;
      }

      &:hover {
        filter: brightness(.8);
      }

      &:not(:last-child) {
        &::after {
          content: "";
          display: block;
          width: 1px;
          height: 1rem;
          border-right: 1px solid rgba($color: $color-white, $alpha: 0.46);
          position: absolute;
          right: -4rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__links {
    text-align: center;
    p,
    a {
      display: inline-block;
      font-size: 1.2rem;
      color: $color-white;
      opacity: .6;
      margin-right: 1rem;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__copyright {
    font-size: 1.4rem;
    color: $color-white;
    opacity: .6;
    text-align: center;
  }
}
