.web-header {}

.header-top {
  background: linear-gradient(180deg, #FFFAE2 0%, rgba(255,248,190,0.1900) 100%);

  &__content {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {}

  &__right {}

  &__button-wrapper {}

  &__button {}

  &__button-icon {
    &--one {}

    &--two {}

    &--three {}
  }
}

.header-bottom {
  &__left {
    .web-logo {}
  }

  &__medium {
    .web-nav {
      a {}
    }
  }

  &__right {}
}
