.web-header {}

.header-top {
  background: linear-gradient(180deg, #FFFAE2 0%, rgba(255, 248, 190, 0.1900) 100%);

  @include respond(tab-port) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 997;
    background: $color-primary;
    border-top: 1px solid $color-white;
  }

  &__content {
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    @include respond(tab-port) {
      display: none;
    }
  }

  &__right {
    @include respond(tab-port) {
      flex: 1;
    }
  }

  &__sign {
    font-size: 1.6rem;
    color: $color-title;
    font-family: fontHeavy;
  }

  &__wx-content {
    @include respond(tab-port) {
      position: fixed;
      z-index: 9999;
      left: 0 !important;
      right: 0 !important;
      top: auto !important;
      bottom: 6.5rem !important;
      transform: translate3d(0, 0, 0) !important;
    }
  }

  &__button-wrapper {
    display: flex;

    @include respond(tab-port) {
      justify-content: space-between;
    }

    .qr-code {
      display: block;
      width: 10rem;
      height: 10rem;
      margin: 0 auto;

      @include respond(tab-port) {
        width: 16rem;
        height: 16rem;
      }
    }
  }

  &__button-wrapper>* {
    margin-left: 3rem;

    @include respond(tab-port) {
      margin-left: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: $color-title;
    font-family: fontHeavy;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }

    @include respond(tab-port) {
      font-size: 1.6rem;
      color: $color-white;
    }
  }

  &__button-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-1px);

    &--one {
      background-image: url(../images/icon-top-1.png);
    }

    &--two {
      background-image: url(../images/icon-top-2.png);
    }

    &--three {
      background-image: url(../images/icon-top-3.png);
    }
  }
}

.header-bottom {

  @include respond(tab-port) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 998;
    background-color: $color-secondary;
  }

  &__content {
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-port) {
      height: 6rem;
      position: relative;
    }
  }

  &__hamburg {
    padding-right: 1rem;
    font-size: 3rem;
    color: $color-primary;
    cursor: pointer;
  }

  &__close {
    font-size: 3rem;
    color: $color-primary;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    left: 3rem;
  }

  &__left {
    .web-logo {
      @include respond(tab-port) {
        @include absCenter;
      }

      img {
        display: block;
        width: auto;
        height: 6.5rem;

        @include respond(tab-port) {
          height: 3.6rem;
        }
      }
    }
  }

  &__medium {

    @include respond(tab-port) {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 999;
      background-color: $color-secondary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all .3s ease-in-out;
      transform: translate3d(-100%, 0, 0);
      opacity: 0;
    }

    &.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    .web-nav {
      display: flex;

      @include respond(tab-port) {
        display: block;
      }

      a {
        font-size: 1.6rem;
        color: $color-title;
        padding: 0 1rem;
        line-height: 9rem;
        margin: 0 1rem;
        transition: all .3s ease-in-out;

        &.active,
        &:hover {
          background-color: $color-primary;
          color: $color-white;
        }

        @include respond(tab-port) {
          display: block;
          text-align: center;
          width: 20rem;
          font-size: 2rem;
          line-height: 9rem;
          margin: 0;
        }

      }
    }
  }

  &__right {}

  &__search-icon {
    font-size: 3rem;
    color: $color-title;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      color: $color-primary;
    }
  }

  &__search-content {
    @include respond(tab-port) {
      position: fixed;
      z-index: 9999;
      left: 0;
      right: 0;
      top: 6rem;
      bottom: auto;
      transform: translate3d(0, 0, 0);
    }
  }
}


.web-search {
  &__icon {
    width: 21px;
    height: 21px;
  }
}
