.web-header {}

.header-top {
  background: linear-gradient(180deg, #FFFAE2 0%, rgba(255, 248, 190, 0.1900) 100%);

  @include respond(tab-port) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 997;
    background: $color-primary;
    border-top: 1px solid $color-white;
  }

  &__content {
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    @include respond(tab-port) {
      display: none;
    }
  }

  &__right {
    @include respond(tab-port) {
      flex: 1;
    }
  }

  &__sign {
    font-size: 1.6rem;
    color: $color-title;
    font-family: fontHeavy;
  }

  &__wx-content {
    @include respond(tab-port) {
      position: fixed;
      z-index: 9999;
      left: 0 !important;
      right: 0 !important;
      top: auto !important;
      bottom: 6.5rem !important;
      transform: translate3d(0, 0, 0) !important;
    }
  }

  &__button-wrapper {
    display: flex;

    @include respond(tab-port) {
      justify-content: space-between;
    }

    .qr-code {
      display: block;
      width: 10rem;
      height: 10rem;
      margin: 0 auto;

      @include respond(tab-port) {
        width: 16rem;
        height: 16rem;
      }
    }
  }

  &__button-wrapper>* {
    margin-left: 3rem;

    @include respond(tab-port) {
      margin-left: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: $color-title;
    font-family: fontHeavy;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }

    @include respond(tab-port) {
      font-size: 1.6rem;
      color: $color-white;
    }
  }

  &__button-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-1px);

    &--one {
      background-image: url(../images/icon-top-1.png);
    }

    &--two {
      background-image: url(../images/icon-top-2.png);
    }

    &--three {
      background-image: url(../images/icon-top-3.png);
    }
  }
}

.header-bottom {

  @include respond(tab-port) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 998;
    background-color: $color-secondary;
  }

  &__content {
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-port) {
      height: 6rem;
      position: relative;
    }
  }

  &__hamburg {
    padding-right: 1rem;
    font-size: 3rem;
    color: $color-primary;
    cursor: pointer;
  }

  &__close {
    font-size: 3rem;
    color: $color-white;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 3rem;
  }

  &__left {
    .web-logo {
      @include respond(tab-port) {
        @include absCenter;
      }

      img {
        display: block;
        width: auto;
        height: 6.5rem;

        @include respond(tab-port) {
          height: 3.6rem;
        }
      }
    }
  }

  &__medium {

    @include respond(tab-port) {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 999;
      background-color: rgba($color-black, .6);
      transition: all .3s ease-in-out;
      transform: translate3d(-100%, 0, 0);
      opacity: 0;
    }

    &.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__right {}

  &__search-icon {
    font-size: 3rem;
    color: $color-title;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      color: $color-primary;
    }
  }

  &__search-content {
    @include respond(tab-port) {
      position: fixed;
      z-index: 9999;
      left: 0;
      right: 0;
      top: 6rem;
      bottom: auto;
      transform: translate3d(0, 0, 0);
    }
  }
}


.web-search {
  &__icon {
    width: 21px;
    height: 21px;
  }
}


// web-nav
.web-nav {

  @include respond(tab-port) {
    @include fixed(0, auto, 0, 0, 99999);
    width: 35rem;
    background-color: $color-white;
    overflow-y: auto;
  }

  // 1
  &__1-list {
    display: flex;
    justify-content: flex-end;

    @include respond(tab-port) {
      display: block;
    }
  }

  &__1-item {
    list-style: none;
    position: relative;
  }

  &__1-link {
    display: block;
    padding: 0 2rem;
    font-size: $nav1-size;
    line-height: 9rem;
    color: $nav1-color;
    background: $nav1-bg;

    @include respond(tab-port) {
      padding: 0 4rem;
      border-bottom: 1px solid rgba($color: $color-white, $alpha: 0.2);
      border-radius: 0;
      height: auto;
      line-height: 7rem;
    }

    &.active {
      color: $nav1-color-active;
      font-weight: 600;
      background: $nav1-bg-active;

      @include respond(tab-port) {}
    }

    &--arrow {
      &::after {
        @include iconfont;
        content: "\e7ee";

        @include respond(tab-port) {
          display: none;
        }
      }
    }
  }

  &__1-open {
    display: none;

    @include respond(tab-port) {
      position: absolute;
      right: 0;
      top: 0.5rem;
      display: block;
      width: 6rem;
      height: 6rem;
      font-size: 2rem;
      color: $color-title;
      text-align: center;
      line-height: 6rem;
    }

  }

  // 2
  &__2-list {
    @include absolute(auto, auto, auto, 0, 9999);
    padding: 1rem 0;
    border-radius: 0 0 1rem 1rem;
    background-color: $nav2-wrapper;
    display: none;
    top: 9rem;

    @include respond(tab-port) {
      position: static;
      padding-left: 4rem;
      background-color: transparent;
    }
  }

  &__2-item {
    list-style: none;
    position: relative;
  }

  &__2-link {
    display: block;
    padding: 0.5rem 2rem;
    font-size: $nav2-size;
    line-height: 3rem;
    color: $nav2-color;
    white-space: nowrap;

    @include respond(tab-port) {
      // color: $color-white;
      line-height: 5rem;
    }

    &:hover {
      color: $nav2-color-active;
      font-weight: 600;
      background: $nav2-bg-active;
    }

    &--arrow {
      &::after {
        @include iconfont;
        content: "\e63d";

        @include respond(tab-port) {
          display: none;
        }
      }
    }
  }

  &__2-open {
    display: none;

    @include respond(tab-port) {
      position: absolute;
      right: 0;
      top: 0.5rem;
      display: block;
      width: 6rem;
      height: 4rem;
      font-size: 2rem;
      color: $color-white;
      text-align: center;
      line-height: 4rem;
    }

  }

  // 3
  &__3-list {
    @include absolute(0, auto, auto, 100%, 9999);
    padding: 1rem 0;
    border-radius: 0 0 1rem 1rem;
    background-color: $color-white;
    display: none;
    border-left: 1px solid rgba($color: $color-primary, $alpha: .1);

    @include respond(tab-port) {
      position: static;
      padding-left: 6rem;
      border-left: none;
      background-color: transparent;
    }
  }

  &__3-link {
    display: block;
    padding: 0.5rem 2rem;
    font-size: $nav2-size;
    line-height: 3rem;
    color: $nav2-color;
    white-space: nowrap;

    @include respond(tab-port) {
      color: $color-white;
      line-height: 5rem;
    }

    &:hover {
      color: $nav2-color-active;
      font-weight: 600;
      background: $nav2-bg-active;
    }
  }
}
