$heading-color: #003D87;
$bg-color: #1052A3;
$first-color: #1052A3;
$first-color-active: #2e5ca8;
$second-color: #4b73b2;


// 侧边栏
.side-bar {
  flex: none;
  width: 300px;
  background-color: $bg-color;
  position: relative;
  overflow: hidden;

  @include media-query($large) {
    width: 240px;
  }

  &__heading {
    height: 65px;
    line-height: 65px;
    padding-left: 40px;
    background: $heading-color;
    font-size: 26px;
    font-weight: bold;
    color: $color-white;
  }

  &__footer-img {
    display: block;
    width: 100%;
    margin-top: 30px;
  }
}

.side-bar-nav {
  &__item.active > &__link--one {
    background-color: $first-color-active;
  }

  &__item.active > &__link--two {
    &::after {
      // content: url(../images/icon-jian.png);
      content: url(../images/icon-arrow.png);
    }
  }

  &__item.active > &__link--three {
    &::after {
      content: url(../images/icon-arrow.png);
      display: block;
      width: 17px;
      height: 17px;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      line-height: 1;
    }
  }

  &__item.active > &__next-wrapper {
    display: block;
  }

  &__link {
    display: block;
    border-bottom: 1px solid rgba($color: #fbfbfb, $alpha: 0.2);
    position: relative;
    &:hover {
      color: $color-white;
      text-decoration: none;
    }
    &--one {
      padding-left: 40px;
      line-height: 65px;
      background-color: $first-color;
      font-size: 20px;
      color: $color-white;
    }
    &--two {
      padding-left: 67px;
      line-height: 65px;
      background-color: $second-color;
      font-size: 20px;
      color: $color-white;
      &::after {
        // content: url(../images/icon-jia.png);
        // content: url(../images/icon-arrow.png);
        display: block;
        width: 17px;
        height: 17px;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1;
      }
    }
    &--three {
      padding-left: 87px;
      line-height: 45px;
      background-color: #03a0bc;
      font-size: 16px;
      color: $color-white;
      &.active,
      &:hover {
        &::after {
          content: url(../images/icon-arrow.png);
          display: block;
          width: 17px;
          height: 17px;
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          line-height: 1;
        }
      }
    }
  }

  &__next-wrapper {
    display: none;
  }
}
