@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #CF000E;
  color: #ffffff;
}

body {
  font-family: Source Han Serif CN-SemiBold, Source Han Serif CN;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem;
}
.heading-primary--white .heading-primary--main, .heading-primary--white .heading-primary--sub {
  color: #ffffff;
}
.heading-primary--main {
  display: block;
  font-size: 3rem;
  color: #CF000E;
  font-family: Source Han Serif CN-Heavy, Source Han Serif CN;
  font-weight: 800;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*
    animation-delay: 3s;
    animation-iteration-count: 3;
    */
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-family: 5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 1.6rem;
  font-family: Source Han Serif CN-Medium, Source Han Serif CN;
  font-weight: 500;
  color: #2F2F2F;
  animation: moveInRight 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: .5rem;
  }
}

.inner-page {
  display: flex;
}
.inner-page__left {
  width: 29rem;
  flex: none;
}
.inner-page__right {
  flex: 1;
  margin-left: 1.6rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 7rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 7rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.ratio-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  box-sizing: border-box;
  position: relative;
}
.ratio-image--1-of-2, .ratio-image--2-of-4 {
  padding-bottom: 50%;
}
.ratio-image--1-of-3 {
  padding-bottom: 33.33%;
}
.ratio-image--2-of-3 {
  padding-bottom: 66.66%;
}
.ratio-image--1-of-4 {
  padding-bottom: 25%;
}
.ratio-image--3-of-4 {
  padding-bottom: 75%;
}
.ratio-image--1-of-5 {
  padding-bottom: 20%;
}
.ratio-image--2-of-5 {
  padding-bottom: 40%;
}
.ratio-image--3-of-5 {
  padding-bottom: 60%;
}
.ratio-image--4-of-5 {
  padding-bottom: 80%;
}
.ratio-image__box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.ratio-image__source {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.consult-button {
  display: inline-block;
  border: 1px solid #CF000E;
}
.consult-button__phone {
  padding: 0 2rem;
  display: inline-block;
  height: 5rem;
  font-size: 1.6rem;
  color: #2f2f2f;
  line-height: 5rem;
}
.consult-button__phone::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  background: url(../images/icon-phone.png) no-repeat center center/cover;
  transform: translateY(2px);
  margin-right: 5px;
}
.consult-button__online {
  padding: 0 2rem;
  background-color: #CF000E;
  display: inline-block;
  height: 5rem;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 5rem;
}

.more-button {
  display: inline-block;
  width: 12.4rem;
  height: 3.6rem;
  font-size: 1.4rem;
  color: #5A5A5A;
  line-height: 3.6rem;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  transition: all .3s ease-in-out;
}
.more-button:hover {
  background-color: #CF000E;
  color: #ffffff;
}

.counsel-button {
  display: inline-block;
  padding: 0 4rem;
  height: 5rem;
  background: #FFD86B;
  font-size: 1.4rem;
  color: #CF000E;
  line-height: 5rem;
}
.counsel-button::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  background: url(../images/icon-phone.png) no-repeat center center/cover;
  transform: translateY(2px);
  margin-right: 5px;
}

.business-card {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.business-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all .3s ease-in-out;
}
.business-card__icon svg {
  width: 4rem;
  height: 4rem;
  fill: #CF000E;
}
.business-card__title {
  font-size: 1.6rem;
  color: #2f2f2f;
  padding-top: 2rem;
}
.business-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.business-card:hover .business-card__title {
  color: #CF000E;
}
.business-card:hover .business-card__icon {
  background-color: #CF000E;
}
.business-card:hover .business-card__icon svg {
  fill: #ffffff;
}

.inner-business-card {
  height: 7rem;
  padding: 0 3rem;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}
.inner-business-card::after {
  content: "";
  font-family: 'iconfont';
  content: "\e7ef";
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
}
.inner-business-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #F1F1F1;
  transition: all .3s ease-in-out;
}
.inner-business-card__icon svg {
  width: 2rem;
  height: 2rem;
  fill: #CF000E;
}
.inner-business-card__title {
  font-size: 1.6rem;
  color: #2f2f2f;
  padding-left: 1rem;
}
.inner-business-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.inner-business-card:hover {
  background-color: #FFF4E2;
}
.inner-business-card:hover .inner-business-card__title {
  color: #CF000E;
}
.inner-business-card:hover .inner-business-card__icon {
  background-color: #CF000E;
}
.inner-business-card:hover .inner-business-card__icon svg {
  fill: #ffffff;
}

.lawyer-card {
  position: relative;
}
.lawyer-card__image {
  width: 100%;
  height: 56rem;
}
.lawyer-card__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.lawyer-card__info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3rem;
  color: #ffffff;
  background: linear-gradient(to top, #000000, transparent);
  transition: all .3s ease-in-out;
}
.lawyer-card__name {
  display: inline-block;
  font-size: 2.4rem;
}
.lawyer-card__level {
  display: inline-block;
  padding: 0 .8rem;
  background-color: #CF000E;
  line-height: 2.2rem;
  font-size: 1.6rem;
  color: #ffffff;
  margin-left: 1rem;
  transition: all .3s ease-in-out;
}
.lawyer-card__roles {
  padding-top: 1.2rem;
}
.lawyer-card__roles p {
  font-size: 1.6rem;
  line-height: 2;
}
.lawyer-card__desc {
  padding-top: 1.2rem;
  font-size: 1.4rem;
  display: none;
  transition: all .3s ease-in-out;
}
.lawyer-card .counsel-button {
  display: none;
  transition: all .3s ease-in-out;
}
.lawyer-card:hover .counsel-button {
  display: inline-block;
}
.lawyer-card:hover .lawyer-card__info {
  background: linear-gradient(to top, #CF000E, #CF000E);
}
.lawyer-card:hover .lawyer-card__desc {
  display: block;
}
.lawyer-card:hover .lawyer-card__level {
  background-color: #FFF06C;
  color: #CF000E;
}
.lawyer-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.case-card {
  border-top: 2px solid #CF000E;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
.case-card__header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
}
.case-card__title {
  font-size: 1.8rem;
  color: #CF000E;
}
.case-card__more {
  padding: 2px 4px;
  font-size: 1.4rem;
  border-radius: 2px;
  color: #5A5A5A;
  transition: all .3s ease-in-out;
}
.case-card__more:hover {
  background-color: #CF000E;
  color: #ffffff;
}
.case-card__content {
  padding: 2rem;
}
.case-card__nav {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #5A5A5A;
  transition: all .3s ease-in-out;
}
.case-card__nav::before {
  content: "·";
}
.case-card__nav:hover {
  color: #CF000E;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-card__title {
  font-size: 2rem;
  color: #2f2f2f;
  margin-bottom: 1rem;
}
.service-card img {
  display: block;
  width: 6.2rem;
  height: 6.2rem;
  margin-bottom: 1rem;
}
.service-card__info p {
  font-size: 1.6rem;
  color: #5A5A5A;
}

.field-card {
  position: relative;
  display: flex;
}
.field-card__cover {
  width: 30rem;
  height: 18rem;
  flex: none;
  overflow: hidden;
}
.field-card__cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}
.field-card__info {
  padding-left: 2rem;
  flex: 1;
}
.field-card__title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 2.4rem;
  color: #2f2f2f;
  line-height: 1.4;
  margin-bottom: 1.2rem;
  transition: all .3s ease-in-out;
}
.field-card__desc {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.3rem;
  color: #5A5A5A;
  transition: all .3s ease-in-out;
}
.field-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}
.field-card__more {
  width: 14.5rem;
  line-height: 4rem;
  text-align: center;
  border: 1px solid #D9D9D9;
  font-size: 1.3rem;
  color: #5A5A5A;
  transition: all .3s ease-in-out;
}
.field-card__views {
  font-size: 1.3rem;
  color: #5A5A5A;
  transition: all .3s ease-in-out;
}
.field-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.field-card:hover .field-card__cover img {
  transform: scale(1.1);
}
.field-card:hover .field-card__title, .field-card:hover .field-card__desc {
  color: #CF000E;
}
.field-card:hover .field-card__more {
  border: 1px solid #CF000E;
  color: #CF000E;
}
.field-card:hover .field-card__views {
  color: #CF000E;
}

.inner-banner {
  height: 45rem;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}
.inner-banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inner-banner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  color: #ffffff;
}

.form-item {
  height: 100%;
}
.form-item input {
  width: 100%;
  padding: 0 2rem;
  height: 100%;
  background: #F1F1F1;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  border: none;
  outline: none;
}
.form-item textarea {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  background: #F1F1F1;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  border: none;
  outline: none;
}
.form-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #CF000E;
  font-size: 1.6rem;
  color: #ffffff;
  transition: all .3s ease-in-out;
}
.form-item a:active {
  filter: brightness(0.8);
}

.back-top-menu {
  position: fixed;
  top: auto;
  right: 30px;
  bottom: 30px;
  left: auto;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid #CF000E;
  border-radius: 50%;
  background-color: #CF000E;
  color: #ffffff;
  transition: 0.3s cubic-bezier(0.53, -0.31, 0.56, 2.18);
  transform: translate3d(50px, 0, 0);
  opacity: 0;
  cursor: pointer;
}
.back-top-menu .iconfont {
  font-size: 20px;
}
.back-top-menu.show {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.back-top-menu:hover {
  background-color: #CF000E;
  border: 3px solid #CF000E;
}

.container {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.row {
  max-width: 120rem;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.gallery {
  display: grid;
  grid-template-rows: repeat(4, 5rem);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}
@media only screen and (max-width: 56.25em) {
  .gallery {
    grid-template-rows: repeat(5, 5rem);
  }
}
.gallery__item--1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
@media only screen and (max-width: 56.25em) {
  .gallery__item--1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }
}
.gallery__item--2 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}
@media only screen and (max-width: 56.25em) {
  .gallery__item--2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }
}
.gallery__item--3 {
  grid-row: 2 / span 2;
  grid-column: 1 / span 2;
}
@media only screen and (max-width: 56.25em) {
  .gallery__item--3 {
    grid-row: 3 / span 2;
  }
}
.gallery__item--4 {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
}
@media only screen and (max-width: 56.25em) {
  .gallery__item--4 {
    grid-row: 5 / span 1;
  }
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2rem;
  margin-right: -2rem;
}
.card-row .card-col {
  box-sizing: border-box;
  padding: 2rem;
  width: 33.33%;
}
@media only screen and (max-width: 56.25em) {
  .card-row .card-col {
    width: 100%;
  }
}

.header-top {
  background: linear-gradient(180deg, #FFFAE2 0%, rgba(255, 248, 190, 0.19) 100%);
}
.header-top__content {
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top__sign {
  font-weight: 800;
  font-size: 1.6rem;
  color: #2f2f2f;
}
.header-top__button-wrapper {
  display: flex;
}
.header-top__button {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 1.6rem;
  color: #2f2f2f;
}
.header-top__button:not(:last-child) {
  margin-right: 30px;
}
.header-top__button-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-1px);
}
.header-top__button-icon--one {
  background-image: url(../images/icon-top-1.png);
}
.header-top__button-icon--two {
  background-image: url(../images/icon-top-2.png);
}
.header-top__button-icon--three {
  background-image: url(../images/icon-top-3.png);
}

.header-bottom__content {
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom__left .web-logo img {
  width: auto;
  height: 6.5rem;
}
.header-bottom__medium .web-nav {
  display: flex;
}
.header-bottom__medium .web-nav a {
  font-size: 1.6rem;
  color: #2f2f2f;
  font-weight: 600;
  padding: 0 1rem;
  line-height: 9rem;
  margin: 0 1rem;
  transition: all .3s ease-in-out;
}
.header-bottom__medium .web-nav a.active, .header-bottom__medium .web-nav a:hover {
  background-color: #CF000E;
  color: #ffffff;
}

.web-search__icon {
  width: 21px;
  height: 21px;
}

.footer {
  background-color: #141414;
}
.footer__wrapper {
  padding: 1.5rem 0;
  border-bottom: 1px solid #353535;
}
.footer__wrapper:last-child {
  border-bottom: none;
}
.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.footer__logo img {
  display: block;
  width: 19.4rem;
  height: 6.5rem;
}
.footer__info {
  padding: 0 5rem;
  text-align: center;
  color: #ffffff;
}
.footer__info h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.footer__info-list p {
  display: inline-block;
  font-size: 1.6rem;
}
.footer__qr-list {
  display: flex;
}
.footer__qr img {
  display: block;
  width: 11rem;
  height: 11rem;
}
.footer__qr p {
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
  margin-top: 2rem;
}
.footer__qr:first-child {
  margin-right: 5rem;
}
.footer__nav {
  display: flex;
  justify-content: center;
}
.footer__nav a {
  font-size: 1.4rem;
  color: #ffffff;
  margin: 0 4rem;
}
.footer__nav a:hover {
  filter: brightness(0.8);
}
.footer__links {
  text-align: center;
}
.footer__links p,
.footer__links a {
  display: inline-block;
  font-size: 1.4rem;
  color: #ffffff;
  opacity: .6;
  margin-right: 1rem;
}
.footer__links p:hover,
.footer__links a:hover {
  opacity: 1;
}
.footer__copyright {
  font-size: 1.4rem;
  color: #ffffff;
  opacity: .6;
  text-align: center;
}

.section-banner .swiper-slide {
  position: relative;
}
.section-banner img {
  display: block;
  width: 100%;
  height: auto;
}
.section-banner__info {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}
.section-banner__info h2 {
  font-size: 4.8rem;
}
.section-banner__info h3 {
  font-size: 3.6rem;
}
.section-banner .swiper-pagination {
  max-width: 120rem;
  padding: 0 1rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30%;
  text-align: left;
}
.section-banner .swiper-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 2px;
  background: #ffffff;
  border-radius: 0;
}
.section-banner .swiper-pagination .swiper-pagination-bullet-active {
  background: #CF000E;
}

.section-introduce {
  padding: 7rem 0;
  background: #CF000E url(../images/bg-2.png) no-repeat center center/cover;
}
.section-introduce__title {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 3rem;
}
.section-introduce__text {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.lawyer-honor__title {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 3rem;
}
.lawyer-honor__text {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 1rem;
}
.lawyer-honor__text::before {
  content: "";
  font-family: 'iconfont';
  content: "\e633";
  position: relative;
  top: -2px;
  color: #FFF06C;
  margin-right: 5px;
}

.section-business {
  padding: 7rem 0;
  background: #F1F1F1;
}
.section-business__list {
  display: flex;
  justify-content: space-between;
}
.section-business__item {
  list-style: none;
}

.section-team {
  padding: 7rem 0;
  background: #FFFFFB;
}

.section-sign img {
  display: block;
  width: 100%;
}

.section-case {
  padding: 7rem 0;
}

.section-service {
  padding: 7rem 0;
  background: linear-gradient(#feeab2, #ffffff);
}
.section-service__step {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .section-service__step {
    display: block;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-service__step .service-card {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
.section-service__arrow {
  display: block;
  width: 3.9rem;
  height: 2.3rem;
  background: url(../images/icon-arrow.png) no-repeat center center/cover;
  transform: translateY(-1rem);
}
@media only screen and (max-width: 56.25em) {
  .section-service__arrow {
    margin: 0 auto;
    transform: rotate(90deg);
  }
}

.section-problem {
  padding: 7rem 0;
}
.section-problem__main {
  border-top: 4px solid #CF000E;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
}
.section-problem__main::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  border-left: 1px solid #E5E5E5;
  position: absolute;
  left: 30%;
  top: 0;
  bottom: 0;
}
.section-problem__question {
  padding: 2rem;
}
.section-problem__question p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1rem;
  font-size: 1.6rem;
  color: #2f2f2f;
  height: 5.6rem;
  line-height: 5.6rem;
  border-bottom: 1px solid #E5E5E5;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.section-problem__question p:last-child {
  border-bottom: none;
}
.section-problem__question p:hover {
  background-color: #FFF4E2;
  color: #CF000E;
}
.section-problem__answer {
  padding: 4rem 4rem 4rem 0;
}
.section-problem__answer h2 {
  font-size: 3rem;
  color: #2f2f2f;
  margin-bottom: 1rem;
}
.section-problem__answer h2::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 31px;
  background: url(../images/icon-problem.png) no-repeat center center/cover;
  transform: translateY(0.8rem);
  margin-right: 0.5rem;
}
.section-problem__answer p {
  font-size: 1.8rem;
  color: #2f2f2f;
}

.section-partner {
  padding: 7rem 0;
}
.section-partner__list {
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;
}
.section-partner__item {
  flex: 1;
  list-style: none;
  padding: 1rem;
}
.section-partner__item a {
  display: inline-block;
  transition: all .3s ease-in-out;
}
.section-partner__item a img {
  display: block;
  width: 100%;
}
.section-partner__item:hover a {
  outline: 1px solid #CF000E;
  outline-offset: 5px;
}

.section-consult {
  padding: 5rem 0;
  background: url(../images/bg-3.png) no-repeat center center/cover;
}
.section-consult__content {
  padding: 2.5rem 26rem;
  background-color: rgba(255, 255, 255, 0.6);
}
.section-consult__heading {
  max-width: 48rem;
  margin: 0 auto;
}
.section-consult__heading--main {
  display: block;
  font-size: 3rem;
  color: #2f2f2f;
}
.section-consult__heading--sub {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  color: #CF000E;
}
.section-consult__heading--sub::before, .section-consult__heading--sub::after {
  content: "";
  display: block;
  height: 1px;
  border-bottom: 1px solid #E5E5E5;
  flex: 1;
}
.section-consult__heading--sub::before {
  margin-right: 1rem;
}
.section-consult__heading--sub::after {
  margin-left: 1rem;
}
.section-consult__form {
  display: grid;
}
.section-consult__form p {
  padding: 1.4rem 0;
  font-size: 1.4rem;
  color: #2f2f2f;
  text-align: center;
}

.professional-side-nav__title {
  font-size: 3rem;
  color: #ffffff;
  padding-left: 5rem;
  line-height: 12rem;
  background-color: #CF000E;
}
.professional-side-nav__list {
  padding: 2.8rem 1.8rem;
  margin-top: 1.6rem;
  border: 1px solid #E5E5E5;
}
.professional-side-nav__item {
  list-style: none;
}

.third-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  border: 1px solid #ECECEC;
}
.third-nav li {
  width: 20%;
  list-style: none;
  padding: 0.6rem;
}
.third-nav a {
  display: block;
  line-height: 5.5rem;
  text-align: center;
  font-size: 1.4rem;
  border: 1px solid #f1f1f1;
  color: #2f2f2f;
}
.third-nav a:hover, .third-nav a.active {
  border: 1px solid #CF000E;
  color: #CF000E;
}

.field-list {
  padding: 2rem;
  border: 1px solid #ECECEC;
  border-top: none;
}
.field-list li {
  list-style: none;
  padding: 2rem 0 4rem 0;
  border-bottom: 1px dashed #ECECEC;
}
.field-list li:last-child {
  border-bottom: none;
}
