// 面包屑
.breadcrumb {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid $color-border;
  margin-bottom: 2rem;

  &::before {
    @include iconfont;
    content: "\e7c6";
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }

  &>* {
    font-size: 1.2rem;
    color: $color-title;
  }

  p {
    margin-right: 1rem;
  }

  a {
    &:not(:last-child) {
      &::after {
        content: ">";
        margin-left: 1rem;
      }

      margin-right: 1rem;


    }

    &:hover,
    &.active {
      color: $color-primary;
    }
  }
}
