.business-card {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.5rem;
    height: 8.5rem;
    overflow: hidden;
    border-radius: 50%;
    background-color: $color-white;
    transition: all .3s ease-in-out;

    img {
      display: block;
      width: 100%;
      height: 100%;

      &.static {
        display: block;
      }

      &.hover {
        display: none;
      }
    }
  }

  &__title {
    font-size: 1.6rem;
    color: $color-title;
    padding-top: 2rem;
  }

  &__link {
    @include absolute;
  }

  &:hover &__title {
    color: $color-primary;
  }

  &:hover &__icon {
    background-color: $color-primary;


    img {

      &.static {
        display: none;
      }

      &.hover {
        display: block;
      }
    }
  }
}

.inner-business-card {
  height: 7rem;
  padding: 0 3rem;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;

  @include respond(tab-port) {
    background-color: #F7F7F7;
    height: 4rem;
    padding: 0;
  }

  &--no-icon {
    border-left: 2px solid transparent;
  }

  &--no-icon &__title {
    padding-left: 0;
  }

  &::after {
    @include iconfont;
    content: "\e7ef";
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: currentColor;
    color: $color-title;
    font-size: 1.4rem;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__icon {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50%;
    background-color: #F1F1F1;
    transition: all .3s ease-in-out;

    @include respond(tab-port) {
      width: 2rem;
      height: 2rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;

      &.static {
        display: block;
      }

      &.hover {
        display: none;
      }
    }
  }

  &__title {
    font-size: 1.6rem;
    color: $color-title;
    padding-left: 1rem
  }

  &__link {
    @include absolute;
  }

  &.active {
    background-color: $color-secondary;
    border-left: 2px solid $color-primary;

    &::after {
      color: $color-primary;
    }
  }

  &.active &__icon {

    img {

      &.static {
        display: none;
      }

      &.hover {
        display: block;
      }
    }
  }

  &:hover &__title,
  &.active &__title {
    color: $color-primary;
  }
}

.lawyer-card {
  position: relative;

  &__image {
    width: 100%;
    height: 56rem;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &--white {
    border: 1px solid $color-border;
  }

  &--white &__image {
    height: 50rem;
    padding-bottom: 16.5rem;

    @include respond(tab-port) {
      padding-bottom: 14rem;
    }
  }

  &--white &__info {
    background: $color-white;
  }

  &__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3rem;
    color: $color-white;
    background: linear-gradient(to top, #000000, transparent);
    transition: all .3s ease-in-out;

    @include respond(tab-port) {
      padding: 2rem;
    }
  }

  &--white &__info {
    color: $color-title;
  }


  &__name {
    display: inline-block;
    font-size: 2.4rem;
  }

  &__level {
    display: inline-block;
    padding: 0 .8rem;
    background-color: $color-primary;
    line-height: 2.2rem;
    font-size: 1.6rem;
    color: $color-white;
    margin-left: 1rem;
    transition: all .3s ease-in-out;
  }

  &__roles {
    padding-top: 1.2rem;

    p {
      font-size: 1.6rem;
      line-height: 2;
    }
  }

  &__desc {
    padding-top: 1.2rem;
    font-size: 1.4rem;
    display: none;
    transition: all .3s ease-in-out;
  }

  &__button-wrapper {
    display: none;
    flex-wrap: wrap;
    margin-left: -0.8rem;
    margin-right: -0.8rem;

    @include respond(tab-port) {
      display: flex;
      margin-top: 2rem;
    }

    .counsel-button {
      flex: 1;
    }
  }

  &--white &__button-wrapper {
    display: flex;
  }

  &__button-item {
    padding: 0 0.8rem !important;
    ;
    width: 50% !important;
    list-style: none;
  }

  &:hover &__button-wrapper {
    display: flex;
  }

  &:hover &__info {
    background: linear-gradient(to top, $color-primary, $color-primary);

    @include respond(tab-port) {
      background: transparent;
    }
  }

  &--white:hover &__info {
    background: $color-white;
  }

  &:hover &__desc {
    display: block;

    @include respond(tab-port) {
      display: none;
    }
  }

  &:hover &__level {
    background-color: $color-yellow;
    color: $color-primary;
  }

  &--white:hover &__level {
    background-color: $color-primary;
    color: $color-white;
  }

  &__link {
    @include absolute;
  }

}

.animate-lawyer-card {
  position: relative;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 36rem;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__sub-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    color: $color-white;
    background: linear-gradient(to top, #000000, transparent);
    transition: all .3s ease-in-out;
    opacity: 1;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__main-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3rem;
    color: $color-white;
    background: linear-gradient(to top, $color-primary, $color-primary);
    transition: all .3s ease-in-out;
    transform: translate3d(0, 100%, 0);
    opacity: 0;

    @include respond(tab-port) {
      padding: 2rem;
      opacity: 1;
      transform: translate3d(0, 0, 0);
      background: linear-gradient(to top, #000000, transparent);
    }
  }

  &__name {
    display: inline-block;
    font-size: 1.6rem;

    @include respond(tab-port) {
      font-size: 2rem;
    }
  }

  &__level {
    display: inline-block;
    padding: 0 .8rem;
    background-color: $color-primary;
    line-height: 2.2rem;
    font-size: 1.2rem;
    color: $color-white;
    margin-left: 1rem;
    transition: all .3s ease-in-out;

    @include respond(tab-port) {
      background-color: $color-yellow-light;
      color: $color-primary;
    }
  }

  &__roles {
    padding-top: 0.6rem;

    p {
      font-size: 1.4rem;
      line-height: 1.6;

      @include respond(tab-port) {
        font-size: 1.6rem;
      }
    }
  }

  &__desc {
    padding-top: 1.2rem;
    font-size: 1.4rem;
    transition: all .3s ease-in-out;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__button-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.8rem;
    margin-right: -0.8rem;

    @include respond(tab-port) {
      display: flex;
      margin-top: 2rem;
    }

    .counsel-button {
      flex: 1;
      font-weight: 600;
    }
  }

  &__button-item {
    padding: 0 0.8rem !important;
    ;
    width: 50% !important;
    list-style: none;
  }

  &:hover &__sub-info {
    opacity: 0;
  }

  &:hover &__main-info {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  &:hover &__level {
    background-color: $color-yellow;
    color: $color-primary;
  }

  &__link {
    @include absolute;
  }

}

.lawyer-card-3 {
  border: 1px solid $color-border;
  padding: 3rem;
  padding-top: 6rem;
  position: relative;
  margin-top: 4rem;

  &__cover {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, -50%, 0);

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__top {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__medium {
    padding-bottom: 2rem
  }

  &__skill-title {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    @include textLine($color-content);
    margin-bottom: 1rem;
  }

  &__skills {
    @include omits(2);
    font-size: 1.2rem;
    color: $color-content;

    @include respond(tab-port) {
      padding: 0 4rem;
      text-align: center;
    }
  }

  &__bottom {
    width: 15rem;
    margin: 0 auto;
  }

}


.case-card {
  border-top: 2px solid $color-primary;
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  &__header {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-border;
  }

  &__title {
    padding: 0 5rem 0 1rem;
    font-size: 1.8rem;
    color: $color-white;
    background: linear-gradient(89deg, #E4393C 0%, rgba(228, 57, 60, 0.93) 49%, rgba(228, 57, 60, 0) 100%);
  }

  &__more {
    padding: 2px 4px;
    font-size: 1.4rem;
    border-radius: 2px;
    color: $color-content;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &__content {
    padding: 2rem;
  }

  &__list {}

  &__nav {
    @include omit;
    display: block;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: $color-content;
    transition: all .3s ease-in-out;

    &::before {
      content: "·";
    }

    &:hover {
      color: $color-primary;
    }
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 2rem;
    color: $color-title;
    margin-bottom: 1rem;
  }

  img {
    display: block;
    width: 6.2rem;
    height: 6.2rem;
    margin-bottom: 1rem;
  }

  &__info {
    p {
      font-size: 1.6rem;
      color: $color-content;
    }
  }


}

.field-card {
  position: relative;
  display: flex;

  @include respond(tab-port) {
    display: block;
  }

  &__cover {
    width: 30rem;
    height: 18rem;
    flex: none;
    overflow: hidden;

    @include respond(tab-port) {
      width: 100%;
      height: 25rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s ease-in-out;
    }
  }

  &__info {
    padding-left: 2rem;
    flex: 1;

    @include respond(tab-port) {
      padding-left: 0;
      padding-top: 2rem;
    }
  }

  &--lawyer &__title {
    @include omits(1);
  }

  &__title {
    @include omits(2);
    font-size: 1.6rem;
    color: $color-title;
    line-height: 1.4;
    margin-bottom: 1.2rem;
    transition: all .3s ease-in-out;
  }

  &--lawyer &__desc {
    @include omits(3);
  }

  &__desc {
    @include omits(2);
    font-size: 1.4rem;
    color: $color-content;
    transition: all .3s ease-in-out;
    font-family: fontHeavy;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    flex-direction: row-reverse;
  }

  &__more {
    width: 14.5rem;
    line-height: 4rem;
    text-align: center;
    border: 1px solid #D9D9D9;
    font-size: 1.3rem;
    color: $color-content;
    transition: all .3s ease-in-out;
    font-family: fontHeavy;
  }

  &__views {
    font-size: 1.3rem;
    color: $color-content;
    transition: all .3s ease-in-out;
    font-family: fontHeavy;
  }

  &__link {
    @include absolute;
  }

  &:hover &__cover {
    img {
      transform: scale(1.1);
    }
  }

  &:hover &__title,
  &:hover &__desc {
    color: $color-primary;
  }

  &:hover &__more {
    border: 1px solid $color-primary;
    color: $color-primary;
  }

  &:hover &__views {
    color: $color-primary;
  }
}

.power-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__percent {
    img {
      width: 13.6rem;
      height: 13.6rem;
    }
  }

  &__text {
    padding-top: 3rem;
    font-size: 1.6rem;
    color: $color-white;
    text-align: center;
  }
}

.rule-card {
  padding: 3.5rem 2rem 3.5rem 7.8rem;
  border: 1px solid #ECECEC;
  background-color: $color-white;
  display: flex;
  align-items: center;

  @include respond(tab-port) {
    padding: 3.5rem 4rem;
  }

  &__icon {
    img {
      display: block;
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  &__info {
    padding-left: 2.8rem;
    color: $color-title;
  }

  &__title {
    font-size: 1.6rem;
  }

  &__desc {
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.new-lawyer-card {
  display: flex;

  &__left {
    flex: none;
    position: relative;
  }

  .counsel-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-primary;
    color: $color-white;
    border: 1px solid $color-primary;
  }

  &__image {
    position: relative;

    img {
      display: block;
      width: 18rem;
      height: 24.5rem;
      object-fit: cover;
    }
  }

  &__right {
    padding-left: 1.5rem;
    position: relative;
    height: 24.5rem;
  }

  &__link {
    @include absolute;
  }

  &__main-info {
    height: 100%;
  }

  &__heading {
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 1.7rem;
    color: $color-title;
    margin-bottom: 1rem;

    @include respond(tab-port) {
      font-size: 2rem;
    }
  }

  &__level {
    display: flex;
    flex: none;
    padding-left: 0.5rem;

    .tag {
      padding: 0 0.5rem;
      height: 2.17rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFD86B;
      border-radius: 0px 0px 0px 0px;
      opacity: 1;
      font-size: 1.2rem;
      color: $color-primary;
    }

    margin-bottom: 1rem;
  }

  &__roles {
    font-size: 1.4rem;
    color: $color-title;
    margin-bottom: 0.8rem;
    flex: none;
  }

  &__desc {
    font-size: 1.2rem;
    color: $color-content;
    flex: 1;
    overflow: hidden;
    @include omits(2);

    &.omits1 {
      @include omits(6);
    }

    &.omits2 {
      @include omits(6);
    }

    &.omits3 {
      @include omits(4);
    }

    &.omits4 {
      @include omits(3);
    }

    &.omits5 {
      @include omits(2);
    }

    @include respond(tab-port) {}
  }
}


.mobile-problem-card {
  &__heading {
    position: relative;

    &.active {
      background-color: $color-secondary;
      padding-left: 0.5rem;

      span {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    h2 {
      @include omits(1);
      font-size: 1.6rem;
      line-height: 4rem;
      color: $color-title;
      padding-right: 6rem;

      &::before {
        content: "";
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background: url(../images/icon-problem.png) no-repeat center center / contain;
        position: relative;
        top: 3px;
      }
    }

    span {
      @include absRight;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      width: 5rem;

      &::after {
        display: block;
        content: "";
        width: 70%;
        height: 70%;
        background: url(../images/icon-arrow-down.png) no-repeat center center / contain;
      }
    }
  }

  &__content {
    padding: 1rem 0 2rem 0;
    display: none;

    p {
      font-size: 1.4rem;
      color: $color-content;
    }
  }
}
