.feature-card {
  display: flex;
  align-items: center;
  padding: 35px;
  border-radius: 2px;
  position: relative;
  transition: 0.3s ease-in-out;

  @include media-query($large-down) {
    flex-direction: column;
    justify-content: center;
  }

  @include media-query($medium-down) {
    padding: 20px;
  }

  &:hover {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 40px;
  }

  &--1 {
    background: url(../images/bg-feature-1.png) no-repeat center center / cover;
  }

  &--2 {
    background: url(../images/bg-feature-2.png) no-repeat center center / cover;
  }

  &--3 {
    background: url(../images/bg-feature-3.png) no-repeat center center / cover;
  }

  &__icon {
    @include flex-row-center;
    flex: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $color-white;
    outline: 1px dashed $color-white;
    outline-offset: 5px;

    @include media-query($large-down) {
      margin-bottom: 20px;
    }

    @include media-query($medium-down) {
      width: 60px;
      height: 60px;
    }

    span {
      font-size: 50px;

      @include media-query($medium-down) {
        font-size: 30px;
      }
    }

    &--1 {
      color: #00b27e;
    }

    &--2 {
      color: #00acb2;
    }

    &--3 {
      color: #0091ca;
    }
  }

  &__info {
    padding-left: 30px;
    color: $color-white;

    @include media-query($large-down) {
      padding-left: 0px;
      text-align: center;
    }

    &--main {
      font-weight: bold;
      font-size: 28px;
      padding-bottom: 10px;

      @include media-query($medium-down) {
        font-size: 20px;
      }
    }

    &--sub {
      font-size: 20px;
      font-family: Arial;

      @include media-query($medium-down) {
        font-size: 14px;
      }
    }
  }

  &__link {
    @include absolute;
  }
}

.recruitment-news {
  @include flex-row-sb;
  padding: 0 10px;
  background-color: $color-white;
  position: relative;
  transition: all 0.3s ease-in;

  &:hover {
    background: linear-gradient(90deg, #00b27c, #00a6eb);
    outline: 1px solid #ffffff;
    box-shadow: 0px 9px 18px 0px rgba(0, 137, 109, 0.72);
    transform: translate3d(0, -20px, 0);
  }

  &:active {
    box-shadow: 0px 5px 10px 0px rgba(0, 137, 109, 0.72);
    transform: translate3d(0, -10px, 0);
  }

  &__date {
    flex: none;
    border-top: 4px solid #0091ca;
    border-bottom: 4px solid #0091ca;
    padding: 20px 10px;
    text-align: center;
    position: relative;
    color: #0091ca;

    @include media-query($medium-down) {
      padding: 10px 5px;
    }

    &::after {
      display: block;
      content: "";
      width: 1px;
      height: 59px;
      background: #666666;
      opacity: 0.41;
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-day {
      font-size: 40px;
      font-weight: bold;
      line-height: 1;
      padding-bottom: 6px;

      @include media-query($medium-down) {
        font-size: 30px;
      }
    }

    &-year {
      font-size: 16px;
      font-weight: bold;
      line-height: 1;

      @include media-query($medium-down) {
        font-size: 12px;
      }
    }
  }

  &:hover &__date {
    border-top: 4px solid $color-white;
    border-bottom: 4px solid $color-white;
    color: $color-white;
  }

  &__content {
    @include omits(2);
    flex: 1;
    padding-left: 30px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #111111;
    line-height: 2;

    @include media-query($medium-down) {
      font-size: 14px;
    }
  }

  &:hover &__content {
    color: $color-white;
  }

  &__link {
    @include absolute;
  }
}

// 科研进展
.research-card {
  position: relative;
  background-color: $color-white;
  box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.27);
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid $color-white;

  &__image {
    height: 216px;
    overflow: hidden;
    position: relative;

    &::after {
      @include absolute(auto, auto, 0, 35px);
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-bottom: 10px solid #ffffff;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s ease-in-out;
    }
  }

  &__info {
    padding: 25px 35px;
    position: relative;

    @include media-query($medium-down) {
      padding: 15px 25px;
    }

    &::after {
      @include flex-row-center;
      @include iconfont;
      @include absolute(auto, 30px, 20px, auto);
      content: "\eb94";
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: #cccccc;
      color: $color-white;
      transition: 0.3s ease-in-out;
    }
  }

  &__title {
    @include omits(2);
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #111111;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  &__date {
    font-size: 16px;
    font-family: Times New Roman;
    font-weight: bold;
    color: #666666;
  }

  &__link {
    @include absolute;
  }

  &:hover {
    transform: translate3d(0, -20px, 0);
    border-bottom: 3px solid $color-theme;
  }

  &:hover &__image {
    img {
      transform: scale(1.05);
    }
  }

  &:hover &__info::after {
    background-color: $color-theme;
    transform: rotate(45deg);
  }

  &:hover &__title {
    color: $color-theme;
  }

  &:hover &__date {
    color: $color-theme;
  }

  &--green:hover {
    transform: translate3d(0, -20px, 0);
    border-bottom: 3px solid #00b27e;
  }

  &--green:hover &__info::after {
    background-color: #00b27e;
    transform: rotate(45deg);
  }

  &--green:hover &__title {
    color: #00b27e;
  }

  &--green:hover &__date {
    color: #00b27e;
  }
}

.impression-card {
  position: relative;

  @include media-query($small) {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
  }

  &::after {
    @include iconfont;
    @include flex-row-center;
    @include absolute(50%, auto, auto, 50%);
    width: 80px;
    height: 80px;
    padding-top: 5px;
    border-radius: 50%;
    border: 3px solid $color-white;
    transform: translate3d(-50%, -50%, 0) rotate(-90deg);
    content: "\eb6d";
    font-size: 40px;
    color: $color-white;
    opacity: 0;
    transition: 0.3s;
  }

  &__image {
    height: 230px;
    overflow: hidden;

    @include media-query($large-down) {
      height: 160px;
    }

    @include media-query($small) {
      width: 100px;
      height: 100px;
      flex: none;
    }

    &--large {
      height: 484px;

      @include media-query($large-down) {
        height: 344px;
      }

      @include media-query($small) {
        width: 100px;
        height: 100px;
        flex: none;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s ease-in-out;
    }
  }

  &__info {
    @include absolute(auto, 0, 0, 0);
    background-image: linear-gradient(to top, #000000, transparent);

    @include media-query($small) {
      position: relative;
      background-image: none;
    }
  }

  &__title {
    @include omits(1);
    padding: 0 25px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: $color-white;
    line-height: 1.6;
    margin-bottom: 20px;

    @include media-query($small) {
      color: #333333;
      margin-top: 20px;
      @include omits(2);
    }
  }

  &__link {
    @include absolute;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &:hover &__image {
    img {
      transform: scale(1.05);
    }
  }

  &:hover &__title {}
}

.node-news {
  @include flex-row-sb;
  height: 56px;
  position: relative;
  padding-left: 15px;

  @include media-query($medium-down) {
    height: 40px;
  }

  &:hover {
    &::before {
      background-color: #0091ca;
    }

    .title {
      color: #0091ca;
    }

    .date {
      color: #0091ca;
    }
  }

  &::before {
    @include absolute(50%, auto, auto, 0);
    transform: translate3d(0, -50%, 0);
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #999999;
    transition: 0.3s;
  }

  .title {
    @include omit;
    font-size: 16px;
    color: $color-title;
    padding-right: 10%;
    transition: 0.3s;
  }

  .date {
    font-size: 14px;
    color: $color-content;
    flex: none;
    transition: 0.3s;
  }

  .link {
    @include absolute;
  }
}

.date-news {
  @include flex-row-sb;
  height: 98px;
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
  border-top: 3px solid $color-theme;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &::after {
    content: url(../images/xh.png);
    position: absolute;
    right: 0;
    z-index: -1;
    top: 10px;
    transform: translateX(10px);
    opacity: 0;
  }

  &:hover {
    border: 1px solid $color-theme;
    border-top: 3px solid $color-theme;
    background: linear-gradient(90deg, #003D87, #0C53AA);
    box-shadow: 0px 8px 12px 1px rgba(52, 54, 56, 0.3300);
    transform: translate3d(0, -15px, 0);

    &::after {
      opacity: 1;
    }
  }

  &:hover &__day,
  &:hover &__year {
    color: $color-white;
    // border-right: 1px solid #0091ca;
  }

  &:hover &__title {
    color: $color-white;
  }

  &--top {
    border: 1px solid #ce1c00;
    border-top: 3px solid #ce1c00;

    &::before {
      @include absolute(-2px, auto, auto, 0);
      content: url("../images/top-icon.png");
    }
  }

  &--top &__date,
  &--top &__title {
    color: $color-white;
  }

  &__date {
    padding: 0 0px 0 20px;
    flex: none;
    // border-right: 1px solid #c9c9c9;
    font-family: "AbhayaLibre";
    text-align: right;
    color: #666666;
    position: relative;
    top: -4px;
  }

  &__day {
    font-size: 22px;
    font-weight: 800;
    color: #003D87;
  }

  &__year {
    font-size: 15px;
    background-color: #003D87;
    color: $color-white;
    text-align: center
  }

  &__title {
    @include omits(2);
    flex: 1;
    padding: 0 20px;
    line-height: 1.8;
    font-size: 16px;
    color: $color-title;
  }

  &__link {
    @include absolute;
  }
}

.image-news-card {
  display: flex;
  position: relative;

  @include media-query($small) {
    display: block;
  }

  &__image {
    flex: 1;
    height: 290px;

    @include media-query($medium-down) {
      width: 300px;
    }

    @include media-query($small) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    flex: 1;
    padding: 40px 40px 0 40px;
    background-color: #f0f0f0;

    @include media-query($medium-down) {
      padding: 20px;
    }
  }

  &__title {
    @include omits(2);
    font-size: 18px;
    font-weight: bold;
    color: #111111;
    line-height: 1.8;
    margin-bottom: 15px;

    @include media-query($medium-down) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__summary {
    @include omits(3);
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    line-height: 2;
    margin-bottom: 15px;

    @include media-query($medium-down) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  &__date {
    font-size: 16px;
    font-weight: bold;
    color: #0091ca;
    line-height: 32px;
  }

  &__link {
    @include absolute;
  }
}

// 内页新闻
.inner-news-card {
  @include flex-row-sb;
  height: 60px;
  padding: 0 10px;
  border-bottom: 1px solid $color-border;
  position: relative;
  overflow: hidden;

  &:hover &__title {
    color: #056dc3;
  }

  &:hover &__date {
    color: #056dc3;
  }

  &__title {
    @include omit;
    flex: 1;
    font-weight: 600;
    font-size: 15px;
    color: #333333;
    padding-right: 20px;
    position: relative;
    padding-left: 20px;

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background-color: #056dc3;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  &__date {
    flex: none;
    font-weight: 600;
    font-size: 15px;
    color: #666666;
  }

  &__link {
    @include absolute;
  }
}

.image-card {
  position: relative;

  &__info {
    @include absolute(auto, 0, 0, 0);
    background-image: linear-gradient(to top, #000000, transparent);
  }

  &__title {
    @include omits(1);
    padding: 0 25px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: $color-white;
    line-height: 1.6;
    margin-bottom: 20px;

    @include media-query($large-down) {
      padding: 0 15px;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__link {
    @include absolute;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &:hover &__image {
    img {
      transform: scale(1.05);
    }
  }

  &:hover &__title {}
}

.swiper-news-card {
  position: relative;
  background-color: $color-theme;

  @include media-query($small) {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
  }

  &__image {
    height: 360px;
    overflow: hidden;

    @include media-query($large-down) {
      height: 180px;
    }

    @include media-query($small) {
      // width: 100px;
      // height: 100px;
      // flex: none;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s ease-in-out;
    }
  }

  &__info {
    padding: 15px;
    padding-bottom: 0;

    @include media-query($small) {
      position: relative;
      background-image: none;
    }
  }

  &__title {
    @include omits(1);
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: $color-white;
    line-height: 1.6;
    margin-bottom: 10px;

    @include media-query($small) {
      color: #ffffff;
      font-size: 14px;
      margin-top: 20px;
      @include omits(3);
    }
  }

  &__date {
    font-size: 13px;
    color: $color-white;
  }

  &__link {
    @include absolute;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &:hover &__image {
    img {
      transform: scale(1.05);
    }
  }

  &:hover &__title {}
}

.teacher-card {
  border-radius: 2px;
  background-color: $color-white;
  border: 1px solid #d5d5d5;
  position: relative;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: translate3d(0, -20px, 0);
    background-color: #f1fdff;
    border: 1px solid #6fd3ff;
    box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.35);
  }

  &:hover::after {
    background-color: #056dc3;
  }

  &::after {
    @include flex-row-center;
    @include iconfont;
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate3d(-50%, 0, 0);
    content: "\e63d";
    width: 30px;
    height: 30px;
    background: #d9d9d9;
    border-radius: 50%;
    color: $color-white;
    transition: 0.3s;
  }

  &__image {
    max-width: 160px;
    height: 220px;
    overflow: hidden;
    margin: -40px auto 0;

    @include media-query($small) {
      max-width: 140px;
      height: 200px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s ease-in-out;
    }
  }

  &__info {
    padding: 20px 0 30px 0;
    text-align: center;
  }

  &__name {
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #000000;
    line-height: 1.6;
  }

  &__position {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #666666;
    line-height: 1.6;
  }
}

.summary-news-card {
  position: relative;

  &__title {
    @include omit;
    width: calc(100% - 100px);
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #343638;
  }

  &__summary {
    @include omits(2);
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    line-height: 1.8;
  }

  &__date {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    font-family: Times;
    font-weight: 400;
    color: #111111;
  }

  &__link {
    @include absolute;
  }
}

.tag-news-card {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all .3s ease-in-out;


  &:hover {
    background-color: #E3EFF7;
  }

  &:hover &__date {
    color: $color-theme;
  }

  &:hover &__title {
    color: $color-theme;

    &::before {
      display: inline;
    }
  }

  &__title {
    @include omit;
    width: calc(100% - 100px);
    font-size: 16px;
    color: #343638;

    &::before {
      @include iconfont;
      content: "\e624";
      font-size: 14px;
      color: $color-theme;
      display: none;
      transition: all .3s ease-in-out;
    }

    span {
      color: $color-theme;
    }
  }

  &__date {
    font-size: 16px;
    font-family: Times;
    font-weight: 400;
    color: #111111;
  }

  &__link {
    @include absolute;
  }
}

// 科研进展
.academic-card {
  position: relative;
  background-color: rgba($color: $color-white, $alpha: .7);
  box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.27);
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;

  &__info {
    padding: 25px 35px;
    position: relative;

    @include media-query($medium-down) {
      padding: 15px 25px;
    }
  }

  &__more {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    color: $color-theme;
    display: flex;
    align-items: center;

    &::after {
      @include flex-row-center;
      @include absolute(9px, -5px, auto, auto);
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid $color-theme;
      color: $color-theme;
      transition: 0.3s ease-in-out;
    }

    span {
      font-size: 24px;
    }
  }

  &__title {
    @include omits(2);
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #111111;
    line-height: 1.6;
    margin-bottom: 20px;

    @include media-query($medium-down) {
      font-size: 14px;
      margin-bottom: 14px;
    }
  }

  &__date {
    font-size: 16px;
    font-family: Times New Roman;
    font-weight: bold;
    color: $color-theme;

    @include media-query($medium-down) {
      font-size: 14px;
    }
  }

  &__link {
    @include absolute;
  }

  &:hover {
    transform: translate3d(0, -20px, 0);
    border-bottom: 3px solid #147EFF;
    background-color: $color-white;
  }

  &:hover &__image {
    img {
      transform: scale(1.05);
    }
  }

  &:hover &__title {
    color: $color-theme;
  }

  &:hover &__date {
    color: $color-theme;
  }

  &--green:hover {
    transform: translate3d(0, -20px, 0);
    border-bottom: 3px solid #00b27e;
  }

  &--green:hover &__info::after {
    background-color: #00b27e;
    transform: rotate(45deg);
  }

  &--green:hover &__title {
    color: #00b27e;
  }

  &--green:hover &__date {
    color: #00b27e;
  }
}

.system-card {
  display: flex;
  align-items: center;

  &__icon {
    @include flex-row-center;
    width: 100px;
    height: 100px;
    flex: none;
    border-radius: 50%;
    border: 1px dashed $color-theme;

    @include media-query($medium-down) {
      width: 66px;
      height: 66px;
    }

    span {
      font-size: 50px;
      color: $color-theme;


      @include media-query($medium-down) {
        font-size: 32px;
      }
    }
  }

  &__text {
    padding-left: 20px;
    font-size: 20px;
    color: #343638;

    @include media-query($medium-down) {
      padding-left: 14px;
      font-size: 14px;
    }
  }
}

.leader-card {
  padding-left: 50px;
  position: relative;
  background: $color-white url(../images/floor.png) no-repeat right center;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  box-shadow: 20px 20px 0 0 $color-theme;

  @include media-query($medium-down) {
    padding-left: 0;
    margin: 0;
    display: block
  }

  &__image {
    width: 400px;
    height: 400px;
    flex: none;
    transform: scale(1.32);

    @include media-query($medium-down) {
      width: 100%;
      height: 200px;
      margin: 0 auto;
      transform: scale(1);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 50px;
    padding-left: 120px;


    @include media-query($medium-down) {
      padding: 20px;
    }
  }

  &__heading {
    padding-bottom: 30px;
    display: flex;
    align-items: center;

    @include media-query($medium-down) {
      padding-bottom: 20px;
    }
  }

  &__name {
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #333333;
    line-height: 2.4;
    border-bottom: 5px solid $color-theme;

    @include media-query($medium-down) {
      font-size: 18px;
      letter-spacing: 3px;
      border-bottom: 3px solid $color-theme;
    }
  }

  &__position {
    font-size: 18px;
    font-weight: 400;
    color: #111111;
    padding-left: 20px;

    @include media-query($medium-down) {
      font-size: 12px;
      padding-left: 14px;
    }
  }

  &__summary {
    @include omits(3);
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 2.1;

    @include media-query($medium-down) {
      font-size: 12px;
    }
  }

  &__link {
    @include absolute;
  }
}


.inner-news-reverse-card {
  @include flex-row-sb;
  height: 70px;
  border-bottom: 1px solid $color-border;
  position: relative;

  @include media-query($medium-down) {
    height: 50px;
  }

  &:hover {
    background: #E7E7E7;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.27);
  }

  &:hover &__title {
    color: $color-theme;
    font-weight: 600;
  }

  &:hover &__date {
    background-color: $color-theme;
    transform: translate3d(20px, 0, 0);
    color: $color-white;
  }

  &__title {
    @include omit;
    flex: 1;
    font-size: 15px;
    color: #333333;
    padding-left: 40px;
    padding-right: 50px;
    position: relative;

    @include media-query($medium-down) {
      padding-left: 10px;
      padding-right: 0;
    }

    &::after {
      @include iconfont;
      @include absolute(50%, 10px, auto, auto);
      transform: translate3d(0, -50%, 0);
      content: "\eb94";
      display: block;
      color: currentColor;

      @include media-query($medium-down) {
        display: none;
      }
    }
  }

  &__date {
    padding: 3px 5px;
    background-color: #4075B5;
    flex: none;
    font-size: 14px;
    color: $color-white;
    transition: .3s;

    @include media-query($medium-down) {
      font-size: 12px;
      padding: 1px 2px;
    }
  }

  &__link {
    @include absolute;
  }
}


.class-card {
  position: relative;
  border: 1px solid #e7e7e7;
  transition: all .3s ease-in-out;

  &:hover {
    border: 1px solid $color-theme;
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.5600);

    &::after {
      background-color: $color-theme;
      color: $color-white;
    }
  }

  &::after {
    @include iconfont;
    @include flex-row-center;
    content: "\e63d";
    font-size: 16px;
    color: $color-white;
    width: 33px;
    height: 33px;
    background: #D9D9D9;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 16px, 0);
    transition: all .3s ease-in-out;
  }

  &__info {
    padding: 10px 20px 30px 20px;
    text-align: center;
  }

  &__title {
    @include omit;
    line-height: 2.6;
    font-size: 16px;
    color: rgba($color: $color-black, $alpha: .8);
    border-bottom: 1px solid #e7e7e7;
  }

  &__desc {
    @include omit;
    line-height: 2.6;
    font-size: 16px;
    color: $color-theme;
  }

  &__link {
    @include absolute;
  }
}



.person-card {
  position: relative;
  border: 1px solid #e7e7e7;
  transition: all .3s ease-in-out;

  &:hover {
    border: 1px solid $color-theme;
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.5600);

    &::after {
      background-color: $color-theme;
      color: $color-white;
    }
  }

  &::after {
    @include iconfont;
    @include flex-row-center;
    content: "\e63d";
    font-size: 16px;
    color: $color-white;
    width: 33px;
    height: 33px;
    background: #D9D9D9;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 16px, 0);
    transition: all .3s ease-in-out;
  }

  &__info {
    height: 40px;
    padding: 0 20px;
    text-align: center;
    overflow: hidden;
  }

  &:hover &__board {
    @include absolute;
    padding: 10px;
    background: $color-white;
    overflow: hidden;

    &::after {
      content:  url(../images/person-bg.png);
      position: absolute;
      right: -30px;
      bottom: -30px;
      z-index: -1;
    }
  }

  &:hover &__title {
    color: $color-theme;
  }

  &__board {
    // transition: all .3s ease-in-out;
  }

  &__title {
    @include omit;
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: rgba($color: $color-black, $alpha: .8);
  }

  &__desc {
    line-height: 1.6;
    font-size: 14px;
    color: $color-theme;
  }

  &__link {
    @include absolute;
  }
}
