.nav-fourth {
  background-color: $color-white;
  padding: 0 40px;

  @include media-query($medium-down) {
    padding: 0 30px;
  }
  @include media-query($small) {
    padding: 0 20px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
    border-bottom: 2px solid #056dc3;

    @include media-query($medium-down) {
      padding: 15px 0;
    }
    @include media-query($small) {
      padding: 10px 0;
    }
  }

  &__nav {
    padding: 6px 20px;
    border: 2px solid #056dc3;
    background-color: $color-white;
    border-radius: 30px;
    margin-right: 20px;
    font-size: 16px;
    color: #056dc3;
    transition: 0.3s ease-in-out;
    margin-bottom: 5px;
    margin-top: 5px;

    @include media-query($medium-down) {
      padding: 3px 15px;
      font-size: 14px;
    }
    @include media-query($small) {
      padding: 2px 10px;
      font-size: 12px;
    }

    &--active,
    &:hover {
      background-color: #056dc3;
      color: $color-white;
      text-decoration: none;
    }
  }
}
