.popover {
  position: relative;
  display: inline-block;

  &__title {
    display: inline-block;
  }

  &__content {
    position: absolute;
    padding: 2px;
    background-color: #fff;
    box-shadow: 0 0 5px #cccccc;
    border-radius: 4px;
    left: 50%;
    bottom: 0;
    z-index: 999;
    transform: translate3d(-50%, 110%, 0);

    @include respond(tab-port) {
      display: none;
    }
  }
}
