.article-details {
  padding: 20px 40px;
  background-color: $color-white;

  @include media-query($large-down) {
    padding: 20px 0;
  }

  &__heading {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    color: $color-theme;
    text-align: center;

    @include media-query($large-down) {
      font-size: 18px;
    }
  }

  &__describe {
    display: flex;
    justify-content: center;
    padding: 16px;
    border-top: 1px solid rgba($color: $color-theme, $alpha: .35);
    border-bottom: 1px solid rgba($color: $color-theme, $alpha: .35);
    margin-bottom: 20px;

    @include media-query($large-down) {
      display: none;
    }
  }

  &__tag {
    font-size: 12px;
    color: $color-content;
    margin: 0 10px;

    &--views {}
  }

  &__content {
    p {
      font-size: 16px;
      line-height: 1.8;
    }

    img {
      display: inline-block;
      max-width: 100%;
      margin: 20px 0;
    }
  }
}

.article-details-pagination {
  padding: 20px 40px;
  border-top: 1px solid #e7e7e7;

  @include media-query($large-down) {
    display: block;
    padding: 10px 0;
  }

  &__button {
    display: block;
    padding: 10px 0;
    font-size: 16px;
    color: $color-theme;
  }
}


.class-group {
  margin-bottom: 20px;
  .class-heading {
    margin-bottom: 20px;
  }
}


.class-person {
  padding-top: 40px;
  &__boss {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
}

.class-details {
  padding-top: 40px;
  h2,
  h3,
  h4 {
    height: 45px;
    background: linear-gradient(90deg, #003D87, #4677B4);
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: $color-white;
    font-size: 18px;
    color: $color-white;
  }
  p {
    padding: 20px 0;
    font-size: 14px;
    line-height: 2;
    color: #333333;
  }
}
