.section-banner {
  .swiper-slide {
    position: relative;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__info {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $color-white;

    h2 {
      font-size: 4.8rem;

      @include respond(tab-port) {
        font-size: 2.8rem;
      }
    }

    h3 {
      font-size: 3.6rem;

      @include respond(tab-port) {
        font-size: 1.6rem;
      }
    }
  }

  .swiper-pagination {
    max-width: $grid-width;
    padding: 0 1rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%;
    text-align: left;

    @include respond(tab-port) {
      text-align: center;
      bottom: 1rem;
    }

    .swiper-pagination-bullet {
      width: 24px;
      height: 2px;
      background: $color-white;
      border-radius: 0;
    }

    .swiper-pagination-bullet-active {
      background: $color-primary;
    }
  }
}


.section-introduce {
  padding: 7rem 0;
  background: #CF000E url(../images/bg-2.png) no-repeat center center / cover;

  &__title {
    font-size: 1.8rem;
    color: $color-white;
    margin-bottom: 3rem;
  }

  &__text {
    font-size: 1.8rem;
    color: $color-white;
    margin-bottom: 1rem;
  }
}

.lawyer-honor {
  &__title {
    font-size: 1.8rem;
    color: $color-white;
    margin-bottom: 3rem;
  }

  &__text {
    font-size: 1.8rem;
    color: $color-white;
    margin-bottom: 1rem;

    &::before {
      @include iconfont;
      content: "\e633";
      position: relative;
      top: -2px;
      color: $color-yellow;
      margin-right: 5px;
    }
  }
}

.section-business {
  padding: 7rem 0;
  background: #F1F1F1;

  &__list {
    @include gridList(2rem, 7, 5, 3);
  }
}

.section-team {
  padding: 7rem 0;
  background: #FFFFFB;

  &__list {
    @include gridList(1.6rem, 3, 2, 1);
  }
}


.section-sign {
  img {
    display: block;
    width: 100%;
  }
}

.section-case {
  padding: 7rem 0;

  &__list {
    @include gridList(6rem, 3, 2, 1);
  }
}

.section-service {
  padding: 7rem 0;
  // background: #feeab2 url(../images/bg-1.png) no-repeat center center / cover;
  background: linear-gradient(#feeab2, #ffffff);

  &__step {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      display: block;
    }

    .service-card {
      @include respond(tab-port) {
        margin-bottom: 2rem;
        margin-top: 2rem;
      }
    }
  }

  &__arrow {
    display: block;
    width: 3.9rem;
    height: 2.3rem;
    background: url(../images/icon-arrow.png) no-repeat center center / cover;
    transform: translateY(-1rem);

    @include respond(tab-port) {
      margin: 0 auto;
      transform: rotate(90deg);
    }
  }
}

.section-problem {
  padding: 7rem 0;

  &__main {
    border-top: 4px solid $color-primary;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    position: relative;

    @include respond(tab-port) {
      padding: 2rem 0;
    }

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      border-left: 1px solid $color-border;
      position: absolute;
      left: 30%;
      top: 0;
      bottom: 0;
      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__question {
    padding: 2rem;

    @include respond(tab-port) {
      padding: 0;
    }

    p {
      @include omit;
      padding: 0 1rem;
      font-size: 1.6rem;
      color: $color-title;
      height: 5.6rem;
      line-height: 5.6rem;
      border-bottom: 1px solid $color-border;
      transition: all .3s ease-in-out;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &:hover,
      &.active {
        background-color: $color-secondary;
        color: $color-primary;
      }
    }
  }

  &__answer {
    padding: 4rem 4rem 4rem 0;

    @include respond(tab-port) {
      padding: 0;
    }

    h2 {
      font-size: 3rem;
      color: $color-title;
      margin-bottom: 1rem;

      &::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 31px;
        background: url(../images/icon-problem.png) no-repeat center center / cover;
        transform: translateY(0.8rem);
        margin-right: 0.5rem;
      }
    }

    p {
      font-size: 1.8rem;
      color: $color-title;
    }
  }
}

.section-partner {
  padding: 7rem 0;

  &__list {
    @include gridList(2rem, 6, 3, 2);
  }

  a {
    display: inline-block;
    transition: all .3s ease-in-out;

    img {
      display: block;
      width: 100%;
    }

    &:hover {
      outline: 1px solid $color-primary;
      outline-offset: 5px;
    }
  }
}

.section-consult {
  padding: 5rem 0;
  background: url(../images/bg-3.png) no-repeat center center / cover;

  &__content {
    padding: 2.5rem 26rem;
    background-color: rgba($color: $color-white, $alpha: 0.6);

    @include respond(tab-port) {
      padding: 2rem 3rem;
    }
  }

  &__heading {
    max-width: 48rem;
    margin: 0 auto;

    &--main {
      display: block;
      font-size: 3rem;
      color: $color-title;

      @include respond(tab-port) {
        font-size: 2.4rem;
      }
    }

    &--sub {
      @include textLine(#E5E5E5);
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      color: $color-primary;

      @include respond(tab-port) {
        font-size: 1.8rem;
      }
    }
  }

  &__form {
    display: grid;

    p {
      padding: 1.4rem 0;
      font-size: 1.4rem;
      color: $color-title;
      text-align: center;
    }
  }
}

.section-lawyer-team {
  padding: 7rem 0;
  &__list {
    @include gridList(1.6rem, 3, 2, 1);
  }
}


.section-team-power {
  padding: 7rem 0;
  background: url(../images/bg-4.png) no-repeat center center / cover;

  &__list {
    @include gridList(1rem, 4, 2, 2);
  }
}

.section-service-rule {
  padding: 7rem 0;
  background-color: #FFFFFB;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }

  &__item {
    padding: 0.8rem;
    width: 50%;
    list-style: none;

    @include respond(tab-port) {
      width: 100%;
    }
  }
}


.section-classic-case {
  padding: 7rem 0;

  &__list {
    padding: 2rem;
    border: 1px solid $color-border;
  }

  &__item {
    list-style: none;
  }
  
  &__item:not(:last-child) {
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px dashed $color-border;
  }
}

.section-recommend-lawyer {
  &__list {
    @include gridList(1.6rem, 3, 2, 1);
  }
}
