.section-banner {
  .swiper-slide {
    position: relative;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__info {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $color-white;

    h2 {
      font-size: 4.8rem;
    }

    h3 {
      font-size: 3.6rem;
    }
  }

  .swiper-pagination {
    max-width: $grid-width;
    padding: 0 1rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%;
    text-align: left;

    .swiper-pagination-bullet {
      width: 24px;
      height: 2px;
      background: $color-white;
      border-radius: 0;
    }

    .swiper-pagination-bullet-active {
      background: $color-primary;
    }
  }
}


.section-introduce {
  padding: 7rem 0;
  background: #CF000E url(../images/bg-2.png) no-repeat center center / cover;

  &__title {
    font-size: 1.8rem;
    color: $color-white;
    margin-bottom: 3rem;
  }

  &__text {
    font-size: 1.8rem;
    color: $color-white;
    margin-bottom: 1rem;
  }
}

.lawyer-honor {
  &__title {
    font-size: 1.8rem;
    color: $color-white;
    margin-bottom: 3rem;
  }

  &__text {
    font-size: 1.8rem;
    color: $color-white;
    margin-bottom: 1rem;

    &::before {
      @include iconfont;
      content: "\e633";
      position: relative;
      top: -2px;
      color: $color-yellow;
      margin-right: 5px;
    }
  }
}

.section-business {
  padding: 7rem 0;
  background: #F1F1F1;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    list-style: none;
  }
}

.section-team {
  padding: 7rem 0;
  background: #FFFFFB;
}


.section-sign {
  img {
    display: block;
    width: 100%;
  }
}

.section-case {
  padding: 7rem 0;
}

.section-service {
  padding: 7rem 0;
  // background: #feeab2 url(../images/bg-1.png) no-repeat center center / cover;
  background: linear-gradient(#feeab2, #ffffff);

  &__step {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      display: block;
    }

    .service-card {
      @include respond(tab-port) {
        margin-bottom: 2rem;
        margin-top: 2rem;
      }
    }
  }

  &__arrow {
    display: block;
    width: 3.9rem;
    height: 2.3rem;
    background: url(../images/icon-arrow.png) no-repeat center center / cover;
    transform: translateY(-1rem);

    @include respond(tab-port) {
      margin: 0 auto;
      transform: rotate(90deg);
    }
  }
}

.section-problem {
  padding: 7rem 0;

  &__main {
    border-top: 4px solid $color-primary;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      border-left: 1px solid $color-border;
      position: absolute;
      left: 30%;
      top: 0;
      bottom: 0;
    }
  }

  &__question {
    padding: 2rem;

    p {
      @include omit;
      padding: 0 1rem;
      font-size: 1.6rem;
      color: $color-title;
      height: 5.6rem;
      line-height: 5.6rem;
      border-bottom: 1px solid $color-border;
      transition: all .3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: $color-secondary;
        color: $color-primary;
      }
    }
  }

  &__answer {
    padding: 4rem 4rem 4rem 0;
    h2 {
      font-size: 3rem;
      color: $color-title;
      margin-bottom: 1rem;
      &::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 31px;
        background: url(../images/icon-problem.png) no-repeat center center / cover;
        transform: translateY(0.8rem);
        margin-right: 0.5rem;
      }
    }
    p {
      font-size: 1.8rem;
      color: $color-title;
    }
  }
}
