.professional-side-nav {
  &__title {
    font-size: 1.8rem;
    color: $color-white;
    line-height: 7.5rem;
    background-color: $color-primary;
    text-align: center;
  }

  &__list {
    padding: 2.8rem 1.8rem;
    margin-top: 1.6rem;
    border: 1px solid $color-border;
  }

  &__item {
    list-style: none;
  }
}

.third-nav {
  padding: 1rem 2rem;
  border: 1px solid #ECECEC;
  border-bottom: none;

  &__list {
    @include gridList(1.6rem, 5, 3, 2);
  }

  a {
    display: block;
    line-height: 5.5rem;
    border-radius: 4px;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #f1f1f1;
    color: $color-title;

    &:hover,
    &.active {
      border: 1px solid $color-primary;
      color: $color-primary;
    }
  }
}


.field-list {
  padding: 2rem;
  border: 1px solid #ECECEC;

  li {
    list-style: none;
    padding: 2rem 0 4rem 0;
    border-bottom: 1px dashed #ECECEC;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}


.article-details {
  border: 1px solid $color-border;

  &__main {
    padding: 5rem 7rem;
    border-bottom: 1px solid $color-border;

    @include respond(tab-port) {
      padding: 2rem;
    }
  }

  &__title {
    font-size: 2rem;
    color: $color-title;
    margin-bottom: 2rem;
    text-align: center;

    @include respond(tab-port) {
      font-size: 2.4rem;
    }
  }

  &__tags {
    margin-bottom: 1.5rem;

    @include respond(tab-port) {
      text-align: center;
    }

    span {
      display: inline-block;
      font-size: 1.2rem;
      color: $color-content;
      margin-right: 3rem;
      font-family: fontHeavy;
    }
  }

  article {
    p {
      margin: 4px 0;
      font-size: 1.4rem;
      color: $color-content;
      line-height: 2.8rem;
      font-family: fontHeavy;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 2rem auto;
    }
  }

  &__share {
    padding: 3rem 7rem 0 7rem;

    p {
      font-size: 1.6rem;
      color: $color-title;

      a {
        color: #409EFF;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__pagination {
    padding: 3rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__nex-prev {
    padding-right: 2rem;

    @include respond(tab-port) {
      margin-bottom: 2rem;
      padding-right: 0;
    }

    a {
      // @include linkHover;
      @include omits(1);
      font-size: 1.2rem;
      color: #6A6A6A;
      line-height: 2;
      font-family: fontHeavy;
    }
  }

  &__back {
    @include btnHover;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.5rem;
    height: 4rem;
    text-align: center;
    background: $color-primary;
    font-size: 1.3rem;
    color: $color-white;
    font-family: fontHeavy;

    &::before {
      @include iconfont;
      content: "\e616";
      margin-right: 4px;
      font-size: 2rem;
    }
  }
}

.related-recommend {
  &__title {
    line-height: 7.2rem;
    background-color: $color-primary;
    text-align: center;
    font-size: 1.8rem;
    color: $color-white;
  }

  &__list {
    padding: 0 3rem;
    border: 1px solid $color-border;

    li {
      padding: 2rem 0;
      border-bottom: 1px dashed $color-border;
      list-style: none;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $color-content;
        position: absolute;
        left: -1.5rem;
        top: 2.7rem;
      }

      &:last-child {
        border-bottom: none;
      }

      a {
        @include omits(2);
        @include linkHover;
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: $color-content;
      }
    }
  }
}

.about-us-content {
  padding: 3rem 4rem;
  border: 1px solid $color-border;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &__title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: $color-title;
  }

  article {
    p {
      font-size: 1.4rem;
      color: $color-content;
      text-indent: 2em;
      margin-bottom: 2rem;
    }
  }

  &__list {
    @include gridList(1.6rem, 3, 2, 1);
  }

}


.lawyer {
  padding: 4rem;
  border: 1px solid $color-border;
  display: flex;

  @include respond(tab-port) {
    display: block;
    padding: 2rem;
  }

  &__cover {
    flex: none;

    img {
      display: block;
      width: 39rem;
      height: 40.6rem;
      object-fit: cover;

      @include respond(tab-port) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__info {
    padding-left: 4.5rem;

    @include respond(tab-port) {
      padding-left: 0;
      padding-top: 3rem;
    }
  }

  &__item {
    margin-bottom: 1.5rem;

    h3 {
      font-size: 1.6rem;
      color: $color-title;
      position: relative;
      padding-left: 1rem;
      margin-bottom: 0.5rem;

      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 2rem;
        border-left: 2px solid $color-primary;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    p {
      font-size: 1.4rem;
      color: $color-content;

      span:not(:last-child) {
        display: inline-block;

        &::after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 12px;
          border-left: 1px solid currentColor;
          margin: 0 8px;
        }
      }
    }

    a {
      width: 14.5rem;
    }
  }
}
